{% extends "base.html" %}
{% block title %}Редактирование выступления{% endblock %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <br/>
    <input class='button' type="submit" value="Submit" />
    
</form>
{% endblock %}