{% extends "base.html" %}
{% block title %}Выступления{% endblock %}
{% block content %}
<a class='button_add' HREF="{% url 'speeches_add' %}">+Add</a>
{% for speeches_item in speeches %}
	{% include 'speeches/speeches_item.html' %}
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if speeches.has_previous %}
            <a class='pagination_a' href="?page={{ speeches.previous_page_number }}">Предыдущая</a>
        {% endif %}
        
        <span class="current">
            {{ speeches.number }} из {{ speeches.paginator.num_pages }}
        </span>

        {% if speeches.has_next %}
            <a class='pagination_a' href="?page={{ speeches.next_page_number }}">Следующая</a>
        {% endif %}
    </span>
</div>
{% endblock %}