
<div class='vistuplenie'>
	<h2>{{ speeches_item.title|upper }}</h2>
	<p class='FIO1'>{{ speeches_item.speaker_name|title }}</p>
	<p>{{ speeches_item.topic|capfirst }}</p>
	<p>{{ speeches_item.time|date:"d M Y, H:i:s, l" }}</p>
	<a class='button' HREF="{% url 'speeches_edit' speeches_item.id %}">Edit</a>
	<a class='button' HREF="{% url 'speeches_delete' speeches_item.id %}">Delete</a>
	{% comment "Speeches Note" %}
    <p></p>
	{% endcomment %}
</div>