
body {
	background-color: #f2f2f2;
	margin: 0;
	height: 100%;
	width: 100%;
}
#header {
	height: 150px;
	width: 100;
	background-color: #b2ccd0;
}
#headtext {
	text-align: center;
	font-size: 4em;
}
/* MENU */


#nav_bar {
	text-align: center;
	height: 50px;
	/*background-color: #fcfcfc;*/
	padding: 0 15%;

}
#nav_bar ul{
	list-style: none;
	margin: 0;
	border-bottom: 1px solid;
	padding-left: 0;
}
#nav_bar ul li{
	display: inline-block; 
    height: 50px;
    line-height: 55px;
    margin-right: 3px;
    border-bottom: none;
    -webkit-transition: all  ease-out 0.2s;
    transition: all  ease-out 0.2s;
	
}
#nav_bar ul li a {
    display: block;
    padding: 0 15px; 
    text-decoration: none;
    color: #000;
}

#nav_bar ul li:hover {
	background-color: #ececec;
	/*border-bottom: 2px solid #addfea;*/
}
/*#nav_bar ul li:hover a {
	color: #addfea;
}*/
.content {
	height: 700px;
	width: 70%;
	margin: 0 14%;
	padding: 20px;
	text-align: left;
	background-color: rgba(188, 216, 220, 0.38);
}
/* BASE */

.text {
	
}
/* NEWS */

.img_news, .img_speaker, .img_partners {
	height: 150px;
	width: 200px;
	float: left;
	padding-bottom: 10px;
	padding-right: 10px; 
}

.novost {
	display: inline-block;
	margin-bottom: 20px;
	width: 90%;
}
p {
	margin: 0 0;
}

/* SPEAKERS */

.speaker {
	width: 45%;
	display: inline-block;
	margin-left: 25px;
	margin-bottom: 20px;
}
.FIO1 {
	font-size: 1,5em;
	font-weight: bold;
}

/* SPEECHES */
.name_vist {
	font-size: 2em;
	font-weight: bold;
}
.vistuplenie {
	display: inline-block;
	width: 30%;
	margin-bottom: 20px;
}

/* ORGANIZERS */

.name_org {
	font-size: 1,5em;
	font-weight: bold;
}

/* PARTNERS */

.partner {
	display: inline-block;
	margin-bottom: 20px;
	width: 90%;
}
