<!doctype html>
	<html>
		<head>
			<meta charset="UTF-8">
			{% load staticfiles %}
			<title>{% block title %}{% endblock %}</title>	
			<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		</head>	
		<body>
			<div class='content'>
				<p style='text-align: center;'>Ой, ошибка :(</p>	
			</div>
		</body>
	</html>