<!doctype html>
	<html>
		<head>
			<meta charset="UTF-8">
			{% load staticfiles %}
			<title>{% block title %}{% endblock %}</title>	
			<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		</head>	
		<body>
			<div id='header'>
				<div id='nav_bar'>
					<ul>
						{% load flatpages %}
						{% get_flatpages as flatpages %}
						{% for page in flatpages %}
       					<li><a href="{{ page.url }}">{{ page.title }}</a></li>
    					{% endfor %}
						<li><a href="{% url 'news_index' %}">Новости</a></li>
						<li><a href="{% url 'speakers_index' %}">Спикеры</a></li>
						<li><a href="{% url 'speeches_index' %}">Выступления</a></li>
						<li><a href="{% url 'organizers_index' %}">Организаторы</a></li>
						<li><a href="{% url 'partners_index' %}">Партнеры</a></li>
						<li><a href="{% url 'contacts_index' %}">Контакты</a></li>
					</ul>
				</div>
				<div id='headtext'>Конференция</div>
			</div>
			<div class='content'>
				{% block content %}{% endblock %}
				{% comment %} комментарий {% endcomment %}
			</div>
		</body>
	</html>